<!DOCTYPE html>
<html lang="es">
<html> 
	<head> 
		<title>VideoHub</title>
		
		<style type="text/css"> 
			body{ 
			background-image: url("assets/preview1.jpg"); 
			background-repeat: no-repeat; 
			background-size: 100%; 
			} 

	      #page {
	        width: 950px;
	        margin: 0;
	        margin-left: auto;
	        margin-right: auto;
	      }
	      #sidebar {
	        float: right;
	        width: 175px;
	      }
	     #sidebar ul {
	        margin-left: 0;
	        padding-left: 0;
	      }
	      #sidebar ul h3 {
	        margin-top: 25px;
	        font-size: 16px;
	        padding-bottom: 10px;
	        border-bottom: 1px solid #ccc;
	      }
	      #sidebar li {
	        list-style-type: none;
	      }
	      #sidebar ul.links li {
	        margin-bottom: 5px;
	      }
	      footer#page_footer
		  {
			clear: both;
			width: 100%;
			display: block;
			text-align: center;
		  }
		</style> 
	</head>

	<body> 
	    <div id="page">
	      <div id="sidebar">
	        <ul id="sidebar-items">
	          <li>
	            <h3>Contenido</h3>
	            <ul class="links">
	              <li><a href="peliculas">Películas</a></li>
	              <li><a href="http://www.youtube.com">Videos</a></li>
	              <li><a href="http://www.youtube.com">Música</a></li>
	            </ul>
	          </li>
	        </ul>
	      </div>
	    </div>

	</body>
	
	
	<footer id="page_footer">
	<p>&copy; 2014 - Edwin Delgado E. - Derechos Reservados.</p>
	</footer>

</html> 
